:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow-y: scroll;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #111; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  --background: #111;
  --foreground: #1e1e1f;
  --basic-text-color: #fafafa;

  --animationSpeed100: 40s;
  --animationSpeed120: 48s;
  --animationSpeed140: 56s;


  --mycolor: #8c1af5;

  background: var(--background);
  color: var(--basic-text-color);
    

}
